<div class="container mt-5">
  <h1 class="mb-4">Panel de Clientes</h1>

  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card p-3">
        <h2 class="card-title">Añadir Nuevo Cliente</h2>
        <div class="mb-3">
          <input
            type="text"
            [(ngModel)]="newClientName"
            placeholder="Nombre del nuevo cliente"
            class="form-control"
          />
        </div>
        <button (click)="addClient()" class="btn btn-primary">Añadir Cliente</button>
      </div>
    </div>

    <div *ngIf="editingClient" class="client-edit-form">
      <h2>Editar Cliente</h2>
      <label>Nombre:</label>
      <input type="text" [(ngModel)]="editingClient.name" class="form-control" />
      <label>Email:</label>
      <input type="text" [(ngModel)]="editingClient.email" class="form-control" />
      <div class="d-flex align-items-center gap-2 mt-3">
        <button (click)="saveChanges()" class="btn btn-success">Guardar Cambios</button>
        <button (click)="cancelEdit()" class="btn btn-secondary">Cancelar</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <app-client-list
        [clients]="clients"
        [selectedClient]="selectedClient"
        (clientSelected)="onClientSelected($event)"
        (clientDeleted)="onClientDeleted($event)"
        (clientToEdit)="onClientToEdit($event)"
      ></app-client-list>
    </div>

    <div class="col-md-6">
      <app-client-details *ngIf="selectedClient" [client]="selectedClient"></app-client-details>
    </div>
  </div>
</div>
